//
//  Release.xcconfig
//  BigMoneyShot
//
//  Created by Brian Ogden on 1/6/19.
//  Copyright © 2019 Big Money Shot. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-BigMoneyShot/Pods-BigMoneyShot.release.xcconfig"


APP_ICON=AppIcon
STRIPE_PUBLISHABLE_KEY=pk_live_xiD2RhQ9bOVZhvD93ckbl5zK
STRIPE_API_VERSION=2018-11-08
//APPLE_MERCHANT_IDENTIFIER=merchant.com.bigmoneyshot.app
APPLE_MERCHANT_IDENTIFIER=merchant.com.smartcoursesystems.stripe
FIREBASE_FUNCTIONS_BASE_URL=https:/$()/us-central1-bigmoneyshot-f4694.cloudfunctions.net/app
